<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端预览设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>分类新增</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <!--引入Markdown编译器的css-->
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
</head>
<body>

    <!--导航-->
    <nav th:replace="admin/_fragments :: menu(2)"></nav>
    <!--二级导航-->
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/types/insertType}" class="teal active item">新增</a>
                <a href="#" th:href="@{/admin/types}" class="teal item">列表</a>
            </div>
        </div>
    </div>
    <!--中间内容-->
    <div class="m-padded-tb-big m-container">
        <div class="ui container">          <!--th:object="${type}":拿到type的值，赋值给object-->
            <form action="#" method="post" th:object="${type}" th:action="*{id} == null ? @{/admin/types/insertType} : @{/admin/type/updateType}" class="ui form">
                <input type="hidden" name="id" th:value="*{id}">      <!--三元运算符，判断id是否为null，-->
                <div class="field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">分类</label>
                        <!--th:value="*{name}":在object的type中拿到name的值，然后在赋值给name-->
                        <input type="text" name="name" th:value="*{name}" placeholder="分类名称">
                    </div>
                </div>

                <!--错误信息-->
                <div class="ui error message"></div>

                <div class="ui right aligned container">
                    <!--window.history.go(-1):返回上一个页面-->
                    <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                    <button class="ui teal submit button">提交</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
    <!--底部footer-->
    <footer th:replace="admin/_fragments :: footer"></footer>
    <th:block th:replace="admin/_fragments :: script"></th:block>

<script>
    $('.menu.toggle').click(function () {
        /*toggleClass判断m-item元素上有没有m-mobile-hid属性 有就删除没有就添加*/
        $(".m-item").toggleClass("m-mobile-hide")
    })
    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    /*表单校验*/
    $('.ui.form').form({
        fields : {
            title : {
                identifier : 'name', /*根据name绑定*/
                rules : [{
                    type : 'empty', /**/
                    prompt : '标题:请输入博客标题'  /*错误信息*/
                }]
            }
        }
    });
</script>
</body>
</html>